@charset "utf-8";
.loncom_index_top{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.loncom_index_top_line{
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50px;
    left: 0;
}
.loncom_index_top_line:before{
    content: "";
    width: calc(50% - 189px);
    height: 100%;
    position: absolute;
    left: 0;
    background: linear-gradient(to left, #6d8ae2, #151935);
}
.loncom_index_top_line:after{
    content: "";
    width: calc(50% - 189px);
    height: 100%;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, #6d8ae2, #151935);
}
.loncom_index_top_text{
    text-align: center;
    height: 100%;
    font-size: 24px;
    letter-spacing: 2px;
    background: radial-gradient(300px 50px, #4054a0, #151935);
    color: #b9c6f2;
    padding-top: 22px;
    font-weight: bold;
}
.loncom_index_top_text span{
    display: block;
    box-reflect: below 0 linear-gradient(transparent,transparent 50%,rgba(255,255,255,.2));
}
.loncom_index_top_line1{
    width: 320px;
    height: 2px;
    background: #6d8be3;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -160px;
}
.loncom_index_top_line1:before{
    content: "";
    width: 41px;
    height: 1px;
    background: #6d8be3;
    position: absolute;
    left: -35px;
    top: -14px;
    transform: rotate(45deg);
}
.loncom_index_top_line1:after{
    content: "";
    width: 41px;
    height: 1px;
    background: #6d8be3;
    position: absolute;
    right: -35px;
    top: -14px;
    transform: rotate(-45deg);
}
.loncom_index_con{
    width: 100%;
    height: calc(100% - 80px);
    padding: 0 30px;
    position: relative;
}
.loncom_index_con_top{
    width: 100%;
    height: 28%;
    position: relative;
    display: flex;
}
.loncom_index_con_topconr,
.loncom_index_con_topconl{
    width: calc(50% - 185px);
    height: 100%;
}
.loncom_index_con_topconr_title{
    width: 100%;
    height: 22px;
    font-weight: bold;
    .btn{
        margin-left: 10px;
        cursor: pointer;
        &.active{
            color: #4C78FF;
        }
    }
}
.loncom_index_con_topcen{
    width: 370px;
    height: 100%;
    padding: 0 10px;
}
.classoffice{
    h2{
        font-weight: bold;
    }
    .number{
        font-size: 14px;
        margin-top: 3px;
        span{
            font-size: 32px;
            margin-right: 5px;
        }
    }
    .classnumber .color{
        color: #4A78FF;
    }
    .officenumber .color{
        color: #DDAF34;
    }
    .classroom{
        margin-top: 25px;
        .number span{
            display: inline-block;
            margin-bottom: 5px;
        }
    }
}

.loncom_index_publicbox{
    box-shadow: inset 0px 0px 10px #4963bd;
    position: relative;
    overflow: hidden;
    padding: 15px;
    background: rgba(25, 33, 68, 0.84);
}
.loncom_index_con_topbox{
    height: 100px;
}
.loncom_index_con_topboxl:before{
    position: absolute;
    content: "";
    left: -1px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 20px solid #161a37;
    border-right: 20px solid transparent;
}
.loncom_index_con_topboxl:after{
    content: "";
    width: 70px;
    height: 9px;
    position: absolute;
    left: -30px;
    top: 11px;
    box-shadow: inset 0px 4px 10px #2c4088;
    transform: rotate(-45deg);
}
.loncom_index_con_topboxr:before{
    position: absolute;
    content: "";
    right: -1px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 20px solid #161a37;
    border-left: 20px solid transparent;
}
.loncom_index_con_topboxr:after{
    content: "";
    width: 70px;
    height: 9px;
    position: absolute;
    right: -30px;
    top: 11px;
    box-shadow: inset 0px 4px 10px #2c4088;
    transform: rotate(45deg);
}
.loncom_index_con_topbox h2{
    height: 40px;
    line-height: 35px;
}
.loncom_index_con_topbox span em{
    font-size: 20px;
    margin-right: 5px;
    color:#fff;
}
.loncom_index_progress{
    min-width: 130px;
}
.loncom_index_conbody{
    width: 100%;
    height: calc(72% - 15px);
}
// .loncom_index_conbody_left{
//     width: calc((50% - 185px)/2);
//     float: right;
//     height: 470px;
// }
.loncom_index_conbody_right{
    height: 100%;
    width: calc(50% - 170px);
    float: right;
    .loncom_index_conbody_rightbox{
        height: calc(100% - 40px);
        width: calc(50% - 20px);
        margin-left: 20px;
        float: left;
        .rightbox-scrollbar{
            width:calc(100% + 15px);
            height: calc(100% - 36px);
            .loncom_index_top10{
                padding-right: 15px;
            }
        }
    }
}
.loncom_index_conbody_center{
    width: calc(50% + 170px);
    float: left;
    height: 100%;
    text-align: center;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .mapshow{
        position: absolute;
        .maparea{
            cursor: pointer;
            display: block;
            position: absolute;
            bottom: 36px;
            left: -11px;
            &:before{
                content: "";
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                border-left: 0px solid transparent;
                border-right: 22px solid transparent;
                border-top: 36px solid #4A78FF;
                transform: rotate(-31deg);
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                display: block;
                position: absolute;
                border-right: 0px solid transparent;
                border-left: 22px solid transparent;
                border-top: 36px solid #6060E2;
                transform: rotate(31deg);
            }
        }
        .maparea:hover{
            &:before{
                border-top: 36px solid #E79626;
            }
            &:after{
                border-top: 36px solid #ED7818;
            }
        }
    }
    .center_enter{
        width: 280px;
        text-align: center;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}
.center_route{
    height: 35px;
    line-height: 35px;
    border: 1px solid #4A78FF;
    display: inline-block;
    width: 115px;
    text-align: center;
    border-radius: 5px;
    color: #4A78FF;
    cursor: pointer;
    margin: 0 5px;
    &:hover{
        background: #4A78FF;
        color: #fff;
    }
}
.mapcon{
    width: 100%;
    h2{
        color: #4A78FF;
        margin-bottom: 10px;
    }
    .info{
        p{
            display: flex;
            height: 30px;
            line-height: 30px;
            span{
                display: inline-block;
            }
            .txt{
                width: 80px;
                color: #909BC4;
                font-size: 12px;
            }
            .number{
                color: #D1D9F5;
                font-size: 12px;
                em{
                    font-size: 20px;
                }
            }
        }
    }
    .echarts{
        width: 260px;
        height: 120px;
    }
}

.loncom_index_conbody_li{
    height: 30px;
    line-height: 30px;
}
.loncom_index_conbody_li:nth-last-of-type(1){
    border-bottom: 1px solid #4963bd;
    height: 45px;
    margin-bottom: 15px;
}
.loncom_index_top10title{
    margin-bottom: 10px;
    height:26px;
    font-size: 16px;
}
.loncom_index_top10 li{
    height: 40px;
    line-height: 40px;
}
.loncom_index_top10 li em{
    width: 20px;
    height: 20px;
    background: #424c6c;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    margin-right: 40px;
    font-size: 12px;
}
.loncom_index_top10 li:nth-of-type(1) em{
    background: #f4092a;
    color: #fff;
}
.loncom_index_top10 li:nth-of-type(2) em{
    background: #E79627;
    color: #fff;
}
.loncom_index_top10 li:nth-of-type(3) em{
    background: #DDD437;
    color: #fff;
}

.loncom_index_asc li:nth-of-type(1) em{
    background: #52c41a;
}
.loncom_index_asc li:nth-of-type(2) em{
    background: #1ac490;
}
.loncom_index_asc li:nth-of-type(3) em{
    background: #99d47d;
}

/*楼层*/
.floor_left{
    width: 150px;
    height: 100%;
    position: relative;
    .floor_left_img{
        width: 100px;
        text-align: center;
        p{
            margin: 20px 0 15px 0;
        }
        .item{
            cursor: pointer;
        }
        img{
            height: 50px;
        }
    }
    .floor_left_route{
        position: absolute;
        bottom: 20px;
        left: 0;
        .center_route{
            margin-bottom: 15px;
        }
    }
}
.floor_right{
    width: calc(100% - 200px);
    height: 100%;
    .floor_right_change{
        width: 100%;
        height: 80px;
        line-height: 80px;
        display: flex;
    }
    .floor_right_map{
        width: 100%;
        height: calc(100% - 100px);
        text-align: center;
        position: relative;
        img{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 100%;
            height: 100%;
        }
        .mapshow{
            position: absolute;
            .maparea{
                cursor: pointer;
                display: block;
                position: absolute;
                position: relative;
                &.openair{
                    background: rgba(138, 110, 35, 0.6);
                }
                .maparea-con{
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 9;
                    width: 100%;
                    height: 100%;
                    display: table;
                    .maparea-conbox{
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        font-size: 12px;
                        color: #D1D9F5;
                    }
                }
            }
            .othermaparea{
                background: none;
                &.openair{
                    background: none;
                    .othermap{
                        background: rgba(138, 110, 35, 0.6);
                    }
                }
                .othermap{
                    position: absolute;
                    left: 0;
                    z-index: 1;
                }
                .othermap-top{
                    top: 0;
                }
                .othermap-bottom{
                    bottom: 0;
                }
            }
        }
    }
    
}

/**手机*/
.mobile_index{
    .index_top{
        width: calc(100% - 40px);
        height: 160px;
        background: #181f43;
        margin: 20px auto 0 auto;
        box-shadow: inset 0px 0px 10px #2f396b;
        .index_top_title{
            height: 60px;
            width: calc(100% - 40px);
            background: linear-gradient(to top, #4a77fd, #1f274f);
            margin: 0 auto;
            position: relative;
            text-align: center;
            line-height: 60px;
            font-size: 22px;
            color: #fff;
            margin-bottom: 15px;
            &:before{
                content: "";
                width: 0;
                height: 0;
                border-right: 35px solid transparent;
                border-bottom: 60px solid #181f43;
                position: absolute;
                top: 1px;
                left: -1px;
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                border-left: 35px solid transparent;
                border-bottom: 60px solid #181f43;
                position: absolute;
                top: 1px;
                right: -1px;
            }
        }
        .index_top_con{
            display: flex;
            .index_top_box{
                width: 50%;
                text-align: center;
                font-size: 16px;
                p{
                    font-size: 26px;
                    color: #fff;
                }
            }
        }
    }
    .loncom_index_center{
        width: 100%;
        margin: 20px 0;
        height: calc(100% - 320px);
        text-align: center;
        position: relative;
    }
    .loncom_index_center img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .loncom_index_bottom{
        display: flex;
        width: calc(100% - 40px);
        height: 100px;
        margin: 0 auto;
        justify-content: space-around;
        .loncom_index_bottombox{
            width: 80px;
            height: 80px;
        }
    }
    
}
